@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import '../../widget/src/styles/themes/normal';
@import '../../widget/src/styles/themes/compact';
@import '../../widget/src/styles/themes/classic';

@import '../../widget/src/styles/color_schemes';

@base: #1e1e2e;
@mantle: #181825;
@surface0: #313244;
@surface1: #45475a;
@text: #fafafa;
@green: #a6e3a1;

@text: #cdd6f4;
@subtext0: #a6adc8;
@overlay0: #6c7086;

@blue: #89b4fa;
@peach: #fab387;
@red: #f38ba8;

* {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  color: @text;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  padding: 6px;
  box-sizing: border-box;
}

body {
  background: @base;
}

input,
select,
button {
  border: 1px solid @surface0;
  background: @base;
  padding: 6px;
  border-radius: 6px;
  outline: none;
  transition: 0.2s;
  width: 100%;
  box-sizing: border-box;
  margin: 6px 0;

  &:focus {
    border: 1px solid @surface1;
  }
}

button {
  cursor: pointer;

  &:hover {
    border: 1px solid @surface1;
  }
}

.buttons {
  display: flex;

  button {
    flex: 1;
    margin-right: 6px;
  }

  button:last-child {
    margin-right: 0;
  }
}

main {
  margin: auto;
  display: flex;

  border-radius: 6px;
  width: 70%;
  height: 100vh;
  max-height: 100vh;

  iframe {
    border: 0;
    width: 400px;
  }

  hr {
    margin: 6px 12px;
    border: none;
    border-right: 1px solid @surface0;
    border-bottom: 1px solid @surface0;
  }

  input {
    padding: 6px 9px;
  }

  section {
    flex: 1;
  }

  button:disabled {
    color: @overlay0;
    border: 1px solid @surface0;
    cursor: not-allowed;
  }
}

@media only screen and (max-width: 1240px) {
  main {
    width: 95%;
  }
}

.separator {
  display: flex;
  align-items: center;
  width: 100%;

  font-weight: bold;

  hr {
    margin: 0 0 0 6px;
    flex: 1;
  }

  margin-bottom: 6px;
}

.setting {
  margin: 6px 0;
}

.settings {
  padding: 12px 16px;
  margin: 12px 0;
  border-radius: 12px;
  background-color: @mantle;
}

header {
  margin: auto;
  padding: 6px;
  width: 70%;
  box-sizing: border-box;
}

header,
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

footer {
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid @surface0;
  padding: 12px;
  margin-bottom: 6px;

  & > div {
    text-align: left;
    display: flex;
    flex-direction: column;

    &:last-child {
      text-align: right;
    }

    small {
      color: @subtext0;
    }
  }
}

a {
  color: @blue;
  text-decoration: none;

  &:hover,
  &:focus {
    color: darken(@blue, 5%);
  }
}

section {
  padding: 8px;
}

section.preview {
  margin-left: 8px;
  display: flex;
  min-width: 450px;
  max-width: 450px;
  flex-direction: column;
  justify-content: flex-start;
}

@media only screen and (max-width: 820px) {
  main {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    max-height: initial;
    flex-direction: column-reverse;

    section.preview {
      min-width: 0;
      max-width: 100%;
      width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
      box-sizing: border-box;
      max-height: 231px;
    }

    div.preview {
      width: 100%;
    }
  }

  header {
    width: 100%;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  .check {
    @size: 16px;
    min-width: @size;
    min-height: @size;
    max-width: @size;
    max-height: @size;
    border: 1px solid @surface0;
    border-radius: 6px;
    margin-right: 4px;
    transition: 0.1s;
  }

  .check.checked {
    background: fade(@green, 10%);
    border: 1px solid @green;
  }
}

.color-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    width: 45px;
    height: 15px;
    padding: 0;
    border: 1px solid #8d8d8d;
    outline: none;
    margin: 1px 0;
  }

  input::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  input::-webkit-color-swatch {
    border: none;
  }
}

.setting.generate {
  max-width: 500px;
}

.width-100 {
  width: 100%;
}

.tabs {
  display: flex;
  border-radius: 8px;
  padding: 6px;
  background-color: @mantle;

  button {
    border: none;
    border-radius: 8px;
    margin: 3px;
    background-color: @base;

    &:hover {
      background-color: @surface0;
    }

    &.active {
      font-weight: bold;
      background-color: @surface0;
    }
  }
}

.info-box(@color) {
  padding: 6px 10px;
  border-left: 3px solid @color;
  background: fade(@color, 5%);
  margin: 6px 0;

  p {
    color: @text;
  }
}

.box.info {
  .info-box(@blue);
}

.box.warn {
  .info-box(@peach);
}

.box.severe {
  .info-box(@red);
}

dialog {
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  padding: 16px;

  transition: 0.25s;

  text-align: center;

  border: 1px solid @surface0;
  border-radius: 12px;
  background: @base;

  &::backdrop {
    background: fade(#000, 50%);
  }

  &[open] {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &.generated {
    display: flex;

    .content {
      width: 400px;
    }
  }
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6px;
}

.flex {
  display: flex;

  & > * {
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }

  & > div {
    flex: 1;
  }
}

.separator {
  height: 21px;
}

.badge {
  color: @green !important;
  padding: 2px 6px;
  border-radius: 6px;
  font-size: 0.85em;
  border: 1px solid @green;
  background-color: fade(@green, 5%);
  margin-left: 0.4em;

  &.help {
    padding: 2px;
    font-weight: bold;
    color: fade(@subtext0, 50%) !important;
    border: none;
    background: none;
  }
}
